:root
{
    --font: "mono";
    font-family: var(--font);
}

*
{
    box-sizing: border-box;
}

html
{
    max-width: 100vw;
}

body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

#main, #c
{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}

#right_sidebar
{
    height: 100%;
    display: grid;
    grid-template-columns: min-content auto;
}

.sidebar.left_tabs
{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4,1fr);
    width: calc(2.5em * 1.5);
    height: 100vh;
    position: relative;
    z-index: 2;
}

.left_tab
{
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 8px 8px;
    margin: 4px 0;
    width: 100%;
    border: 2px solid #444;
    border-right: none;
    border-radius: 4px 0 0 4px;
    /*transition: 0.1s all ease;*/ /* i'm not going to add fancy graphics stuff until the base game mechanics are done */
}

.left_tab.inactive
{
    background: #ccc;
    width: 2.5em;
    justify-self: right;
}
.left_tab.active
{
    background: #eee;
    margin-right: -2px;
    width: calc((2.5em * 1.5) + 2px);
    z-index: 2;
    position: relative;
}

.text_vertical_left
{
    width: max-content;
    transform: rotate(-90deg);
    user-select: none;
}

.sidebar.content
{
    background: #eee;
    border-left: 2px solid #444;
}

.content
{
    width: 100%;
}
.content.page,
.content.page > .content
{
    height: 100%;
}

.content.page
{
    display: flex;
    flex-direction: column;
}

.content.page > .title
{
    margin: 8px;
    margin-bottom: 0;
    border-bottom: 2px solid #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.closed > .title,
.open > .title
{
    display: grid;
    grid-template-columns: auto 64px;
    align-items: center;
}
.closed > .content
{
    display: none;
}
.open > .title
{
    margin: 0px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid #444;
}

h1
{
    font-size: 20pt;
    margin: 0;
}
h2
{
    font-size: 16pt;
    margin: 0;
}

.content.page > .content
{
    margin: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    display: grid;
    background: #0002;
    border-radius: 4px;
}
.content.centered
{
    align-content: center;
    justify-content: center;
}

.inner_tab,
.building_list_item
{
    padding: 8px;
    border: 2px solid #666;
    border-radius: 4px;
    height: fit-content;
}
.inner_tab
{
    margin: 8px;
    background: #fff8;
}
.building_list_item
{
    background: #0001;
}
.building_list_item > .title
{
    display: grid;
    grid-template-columns: 64px auto 64px;
}

.expand_toggler
{
    background: #0002;
    border-radius: 12px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expand_toggler
{
    border-radius: 12px;
    margin: 8px;
    width: 48px;
    height: 48px;
}

.building_list_item > .title > div
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.building_list_item > div > div > div:nth-child(2)
{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
/* cost item */
.building_list_item > div > div > div:nth-child(2) > div
{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
